<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">Câu hỏi vận dụng</div>
  </div>
  <div class="card-body table-responsive" [formGroup]="formGroup">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>

    <!-- <app-filter (onFilterData)="onFilterData($event)"></app-filter> -->

    <div class="danhmuc">
      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Môn học</mat-label>
          <mat-select formControlName="monhoc">
            <mat-option
              [value]="option._id"
              *ngFor="let option of monHocList$ | async"
              >{{ option.ten }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Khối học</mat-label>
          <mat-select formControlName="khoihoc">
            <mat-option
              [value]="option._id"
              *ngFor="let option of khoiHocList$ | async"
              >{{ option.ten }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Chuơng</mat-label>
          <mat-select formControlName="chuong" [disabled]="disableChuong()">
            <mat-option
              [value]="option._id"
              *ngFor="let option of chuongList$ | async"
              >{{ option.ten }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Chọn chủ đề</mat-label>
          <mat-select formControlName="chude" [disabled]="disableChuDe()">
            <mat-option
              [value]="option._id"
              *ngFor="let option of outletList$ | async"
              >{{ option.ten }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Mức độ</mat-label>
          <mat-select formControlName="mucDo">
            <mat-option value="1">Dễ</mat-option>
            <mat-option value="2">Trung bình</mat-option>
            <mat-option value="3">Khó</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex" style="margin-left: auto">
        <button
          mat-raised-button
          class="mb-5"
          color="primary"
          (click)="applyFilter()"
        >
          <div class="d-flex align-items-center justify-content-center">
            <span>Tìm kiếm</span>
            <span class="material-icons ml-2">filter_alt</span>
          </div>
        </button>
      </div>
    </div>

    <div *ngIf="!ontap">
      <div
        *ngIf="!formGroup.value.chude || !formGroup.value.mucDo; else taoOnTap"
        class="d-flex justify-content-center"
      >
        Vui lòng chọn chủ đề và mức độ
      </div>
      <ng-template #taoOnTap>
        <div class="d-flex justify-content-center">
          Chưa có bài tập vận dụng cho chủ đề được chọn
        </div>
        <div>
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Tạo tự động"> 
              <div class="d-flex justify-content-center">
                <mat-form-field class="example-full-width">
                  <input type="number" matInput placeholder="Số lượng câu hỏi" [(ngModel)]="slCauHoi" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <button mat-button  color="accent" (click) = "taoCauHoi()">
                  Tạo
                </button>
              </div>
            </mat-tab>
            <mat-tab label="Tự chọn câu hỏi"> Tự chọn câu hỏi </mat-tab>
          </mat-tab-group>
        </div>
        <div>
          <div *ngFor="let element of listCauHoi; let i = index">
            <p>Câu {{i+1}}:</p>
            <div [(appMath)]="element.cauhoi"></div>
            <div style="width: 100%" class="d-flex flex-wrap">
             <div *ngFor="let dapAn of element.dapAn; let y = index" style="width: 50%" class="d-flex">
                <div *ngIf="!element.multipleAnswer">
                  <mat-radio-button
                  class="rdo"
                  ></mat-radio-button
                >
                </div>
                <div *ngIf="element.multipleAnswer" style="padding-right: 16px;">
                  <mat-checkbox ></mat-checkbox>
                </div>
                <div
                 [(appMath)]="element.dapAn[y]"></div>
            </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div>
      <ng-container matColumnDef="noidung">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nội dung câu hỏi </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <div [(appMath)]="element.cauhoi"></div>
        </mat-cell>
      </ng-container>
    </div>

  </div>
</div>
