
  <div class="row">
<div class="card card-custom example example-compact gutter-b container col-12 col-xl-4 pt-5">
  <div class="card-header">
    <div class="card-title">
      Thông tin cấu hình
    </div>
   
  </div>
  <span>Dữ liệu sẽ được đổ vào đây nhé, ahihihihihihi</span> 
</div>







<div class="card card-custom example example-compact gutter-b col-12 col-xl-8 pt-5">
  <div class="card-header">
    <div class="card-title">
     Chi tiết cấu hình
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <button mat-raised-button color="accent" class="ml-2" (click)="createPg()">
          <span class="material-icons">add</span>Thêm cấu hình
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tìm kiếm" [(ngModel)]="filter.name_contains" (ngModelChange)="changeList()">
        </mat-form-field>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="table-responsive">
      <ng-container matColumnDef="danhmuc">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Danh mục </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.danhmuc }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="chuyende">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Chuyên đề </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.chuyende}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nhanbiet">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nhận biết </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.nhanbiet}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="thonghieu">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Thông hiểu </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.thonghieu}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="vandung">
        <mat-header-cell *matHeaderCellDef mat-sort-header> vận dụng </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.vandung}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="vandungcao">
        <mat-header-cell *matHeaderCellDef mat-sort-header> vận dụng cao</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.vandungcao}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="hanhdong">
        <mat-header-cell *matHeaderCellDef mat-sort-header> hành động</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.hanhdong}} </mat-cell>
      </ng-container>


      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [(pageSize)]="filter.pageSize"
    [(pageIndex)]="filter.page" (page)="onPageChange($event)">

    </mat-paginator>
  </div>
</div>
</div>
