<div
  class="card card-custom example example-compact gutter-b"
  [formGroup]="formGroup"
>
  <div class="card-header">
    <div class="card-title">Cập nhật câu hỏi</div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <a
          class="menu-link"
          routerLink="/cau-hoi"
          routerLinkActive="active"
        >
          <button mat-raised-button color="warn" class="ml-2">
            <span class="material-icons">undo</span>Quay lại
          </button>
        </a>
        <button mat-raised-button color="accent" class="ml-2" (click)="save()">
          <span class="material-icons">save</span>Lưu
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>

    <div class="row">
      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Khối học</mat-label>
          <mat-select formControlName="khoihoc">
            <mat-option
              [value]="option._id"
              *ngFor="let option of khoiHocList$ | async"
              >{{ option.ten }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Chọn môn học</mat-label>
          <mat-select formControlName="monhoc">
            <mat-option
              [value]="option._id"
              *ngFor="let option of monHocList$ | async"
              >{{ option.ten }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Chuơng</mat-label>
          <mat-select formControlName="chuong" [disabled]="disableChuong()">
            <mat-option
              [value]="option._id"
              *ngFor="let option of chuongList$ | async"
              >{{ option.ten }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Chọn chủ đề</mat-label>
          <mat-select formControlName="chude" [disabled]="disableChuDe()">
            <mat-option
              [value]="option._id"
              *ngFor="let option of outletList$ | async"
              >{{ option.ten }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Loại đáp án</mat-label>
          <mat-select formControlName="loai">
            <mat-option value="1">Một đáp án đúng</mat-option>
            <mat-option value="2">Nhiều đáp án đúng</mat-option>
            <mat-option value="3">Kéo thả đáp án</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="dm">
        <mat-form-field appearance="fill">
          <mat-label>Phân loại</mat-label>
          <mat-select formControlName="mucDo">
            <mat-option value="1">Dễ</mat-option>
            <mat-option value="2">Trung bình</mat-option>
            <mat-option value="3">Khó</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <p>Nội dung câu hỏi</p>
    <div class="card card-custom example example-compact gutter-b">
      <ckeditor [editor]="Editor" formControlName="noidung"></ckeditor>
    </div>

    <p>Nội dung câu trả lời</p>
    <div formArrayName="danhSachDapAn">
      <ng-container *ngIf="formGroup.get('loai').value == 1">
        <div
          class="row"
          *ngFor="let control of danhSachDapAn.controls; index as i"
        >
          <ng-container [formGroupName]="i">
            <div class="col-sm-2">
              <li class="radio">
                <mat-radio-button
                  class="rdo"
                  [checked]="control.get('selected').value"
                  (change)="changeRadio(i)"
                  >{{ alphabet[i] }}</mat-radio-button
                >
              </li>
            </div>
            <div class="col-sm-9">
              <div>
                <div class="md-form form-group mt-5">
                  <div>
                    <div
                      class="card card-custom example example-compact gutter-b"
                    >
                      <ul>
                        <li class="rdo">
                          <ckeditor formControlName="noidung" [editor]="Editor">
                          </ckeditor>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <button mat-icon-button color="warn" (click)="xoaDapAn(i)">
                <mat-icon aria-label="Example icon-button with a heart icon"
                  >delete</mat-icon
                >
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="formGroup.get('loai').value == 2">
        <div
          class="row"
          *ngFor="let control of danhSachDapAn.controls; index as i"
        >
          <ng-container [formGroupName]="i">
            <div class="col-sm-2">
              <li class="radio">
                <mat-checkbox formControlName="selected">{{
                  alphabet[i]
                }}</mat-checkbox>
              </li>
            </div>
            <div class="col-sm-9">
              <div class="md-form form-group mt-5">
                <div>
                  <div
                    class="card card-custom example example-compact gutter-b"
                  >
                    <ul>
                      <li class="rdo">
                        <ckeditor formControlName="noidung" [editor]="Editor">
                        </ckeditor>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <button mat-icon-button color="warn" (click)="xoaDapAn(i)">
                <mat-icon aria-label="Example icon-button with a heart icon"
                  >delete</mat-icon
                >
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="formGroup.get('loai').value == 3">
        <div
          cdkDropList
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <span>Thứ tự đáp án</span>
            </div>
            <div class="col-md-1">
              <span>Xoá</span>
            </div>
            <div class="col-md-5">
              <span>Thứ tự đáp án đúng</span>
            </div>
          </div>
          <div
            class="row"
            *ngFor="let control of danhSachDapAn.controls; index as i"
          >
            <div class="col-md-6">
              <ng-container [formGroupName]="i">
                <ckeditor
                  [editor]="Editor"
                  formControlName="noidung"
                ></ckeditor>
              </ng-container>
            </div>
            <div class="col-sm-1">
              <button mat-icon-button color="warn" (click)="xoaDapAn(i)">
                <mat-icon aria-label="Example icon-button with a heart icon"
                  >delete</mat-icon
                >
              </button>
            </div>
            <div class="col-md-5" cdkDrag style="border: 1px solid #ccc">
              <div class="example-box">
                <div
                  [(appMath)]="
                    danhSachDapAn.value[danhSachDapAnDung.value[i]]['noidung']
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="example-button-row d-flex justify-content-end mt-5">
        <button
          class="justify-content-end"
          mat-raised-button
          (click)="addAnswer()"
          class="btn btn-success"
        >
          Thêm đáp án
        </button>
      </div>
    </div>

    <div class="mt-5">Giải thích đáp án {{ favoriteSeason }}</div>
    <div class="card card-custom example example-compact gutter-b">
      <ckeditor formControlName="giaithich" [editor]="Editor"> </ckeditor>
    </div>
    <div style="display: flex; justify-content: end">
      <button mat-raised-button color="accent" class="ml-2" (click)="save()">
        <span class="material-icons">add</span>Lưu
      </button>
    </div>
  </div>
</div>
