<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">Danh sách câu hỏi</div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
      
        <button
          mat-raised-button
          color="accent"
          class="ml-2"
          routerLink="/promotion-management" 
        >
          <span class="material-icons">add</span>Thêm mới
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="card-body table-responsive row" [formGroup]="formGroup">
      <div class="danhmuc">
        <div class="dm">
          <mat-form-field appearance="fill">
            <mat-label>Môn học</mat-label>
            <mat-select formControlName="monhoc">
              <mat-option
                [value]="option._id"
                *ngFor="let option of monHocList$ | async"
                >{{ option.ten }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="dm">
          <mat-form-field appearance="fill">
            <mat-label>Khối học</mat-label>
            <mat-select formControlName="khoihoc">
              <mat-option
                [value]="option._id"
                *ngFor="let option of khoiHocList$ | async"
                >{{ option.ten }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="dm">
          <mat-form-field appearance="fill">
            <mat-label>Chuơng</mat-label>
            <mat-select formControlName="chuong" [disabled]="disableChuong()">
              <mat-option
                [value]="option._id"
                *ngFor="let option of chuongList$ | async"
                >{{ option.ten }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="dm">
          <mat-form-field appearance="fill">
            <mat-label>Chọn chủ đề</mat-label>
            <mat-select formControlName="chude" [disabled]="disableChuDe()">
              <mat-option
                [value]="option._id"
                *ngFor="let option of outletList$ | async"
                >{{ option.ten }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="dm">
          <mat-form-field appearance="fill">
            <mat-label>Mức độ</mat-label>
            <mat-select formControlName="mucDo">
              <mat-option value="1">Dễ</mat-option>
              <mat-option value="2">Trung bình</mat-option>
              <mat-option value="3">Khó</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="standard mr-5" style="flex: 1">
          <mat-label>Nội dung câu hỏi</mat-label>
          <input
            matInput
            formControlName="cauhoi"
            placeholder=""
            #input
            style="width: 100%"
          />
        </mat-form-field>
        <button mat-raised-button class="mb-5" color="primary" (click)="applyFilter()">
          <div class="d-flex align-items-center justify-content-center">
            <span>Tìm kiếm</span>
            <span class="material-icons ml-2">filter_alt</span>
          </div>
        </button>
      </div>
      <ng-container> </ng-container>

      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="stt">
          <mat-header-cell *matHeaderCellDef> STT </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="noidung">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nội dung câu hỏi </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <div [(appMath)]="element.cauhoi"></div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="chude">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tên chủ đề </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.chude?.ten }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="chuong">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Chương </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.chude?.chuong?.ten }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="monhoc">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Môn học </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.chude?.monhoc?.ten }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="khoihoc">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Khối học </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.chude?.khoihoc?.ten }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="loai">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Loại </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ displayLoai(element) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="mucDo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Mức độ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ displayMucDo(element.mucDo) }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="justify-content-end">Hành động</mat-header-cell>
          <mat-cell class="justify-content-end" *matCellDef="let element">
            <ng-container>
              <!-- <button mat-icon-button color="primary" (click)="modify(element)">
                <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
              </button> -->
              <button mat-icon-button color="warn" (click)="deleteObject(element._id)">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                
              </button>
              
              <a class="menu-link" routerLink="/promotion-management/{{element._id}}" routerLinkActive="active">
              <button mat-icon-button color="warn" >
                <mat-icon>arrow_right_alt</mat-icon> 
              </button>
            </a>
            </ng-container>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- <mat-header-row *matHeaderRowDef="displayedSearchColumns"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator
        [length]="totalCount"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="filter.pageSize"
        [pageIndex]="filter.page"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
