<div class="card card-custom example example-compact gutter-b">
  <div class="card-header">
    <div class="card-title">
      Chủ đề
    </div>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        
        <button mat-raised-button color="accent" class="ml-2"  routerLink="/competitors">
          <span class="material-icons">add</span>Thêm mới
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <div class="loading" *ngIf="loading">
      <div class="loading-container">
        <svg class="splash-spinner" viewBox="0 0 50 50">
          <circle
            class="path"
            cx="25"
            cy="25"
            r="20"
            fill="none"
            stroke-width="5"
          ></circle>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="searchInfo" (input)="search()" matInput placeholder="Tìm kiếm">
        </mat-form-field>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="stt">
        <mat-header-cell *matHeaderCellDef> STT </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tên chủ đề </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.ten }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="chuong">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Chương </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.chuong?.ten }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="monhoc">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Môn học </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.monhoc?.ten }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="khoihoc">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Khối học </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.khoihoc?.ten }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="justify-content-end">Hành động</mat-header-cell>
        <mat-cell class="justify-content-end" *matCellDef="let element">
          <ng-container>
            <!-- <button mat-icon-button color="primary" (click)="modify(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            </button> -->
            <button mat-icon-button color="warn" (click)="deleteObject(element._id)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
            <a class="menu-link" routerLink="/competitors/{{element._id}}" routerLinkActive="active">
            <button mat-icon-button color="warn" >
              <mat-icon>arrow_right_alt</mat-icon> 
            </button>
          </a>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- <mat-header-row *matHeaderRowDef="displayedSearchColumns"></mat-header-row> -->
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions" [pageSize]="filter.pageSize"
    [pageIndex]="filter.page" (page)="onPageChange($event)">

    </mat-paginator>
  </div>
</div>